$primary-color: #038483;
$title-bg-color: rgba(3, 132, 131, 0.3);
$primary-font-color: #c0c3d0;
$secondary-font-color: #606d75;
$primary-bg: #e3e7df;
$secondary-bg: #111117;
$card-font-color: #21333e;